**/node_modules
**/data
**/data-demo
**/.env*
**/dist
**/dist-mobile
**/.gradle
**/build
backend/public
android
ios
release
.git

**/data-server/
deploy/windows/state/
deploy/windows/bin/
frontend/dist-server/

acceso-servidor-ubuntu.txt
